
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
}

/* shared-style */

.display-flex{
    display: flex;
}

.btn{
    background-color: #FF900E;
    padding: 12px;
    border-radius: 5%;
    border: none;
    color: white;
    cursor: pointer;
}


/* header-style */


/* navbar-style */

header{
    background-color: #ff8f0e24;
}

.navbar{
    
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}


.nav-item{
    list-style: none;
    margin-right: 30px;
    
    
}
.nav-item a{
    text-decoration: none;
    font-size: 18px;
    color: #424242;
    
}

.brand-name{
    font-size: 45px;
    font-weight: 600px;
    color: #131313;
}

/* banner-section */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.banner-content{
    display: flex;
    flex-direction: column;
    width: 53%;
    align-items: center;
    padding-top: 102px;

}
.banner-content h2{
    text-align: center;
    font-size: 64px;
    color: #131313;
}

.banner-content p{
    text-align: center;
    font-size: 16px;
    color: #727272;
    padding-top: 20px;

}
.banner-image{
    max-width: 1000px;
    max-height: 700px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    
}

.button-1{
    padding-top: 30px;
    padding-bottom: 30px;
}