
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
}

/* shared-style */

.display-flex{
    display: flex;
}


/* header-style */


/* navbar-style */

header{
    background-color: #ff8f0e24;
}

.navbar{
    
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}


.nav-item{
    list-style: none;
    margin-right: 30px;
    
    
}
.nav-item a{
    text-decoration: none;
    font-size: 18px;
    color: #424242;
    
}

.brand-name{
    font-size: 45px;
    font-weight: 600px;
    color: #131313;
}