
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
}

/* shared-style */

.display-flex{
    display: flex;
}

.btn{
    background-color: #FF900E;
    padding: 12px;
    border-radius: 5%;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.25rem;
}


/* header-style */


/* navbar-style */

header{
    background-color: #ff8f0e24;
    padding: 50px;
}

.navbar{
    
    justify-content: space-between;
    align-items: center;
    max-width: 1140%;
    margin: 0 auto;
}

.nav-links{
    gap: 30px;
}

.nav-item{
    list-style: none;
}
.nav-item a{
    text-decoration: none;
    font-size: 1.25rem;
    color: #424242;
    
}

.brand-name{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
}

/* banner-section */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;     
}

.banner-content{
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    align-items: center;
    padding-top: 102px;

}
.banner-content h2{
    text-align: center;
    font-size: 3rem;
    color: #131313;
}

.banner-content p{
    text-align: center;
    font-size: 1rem;
    color: #727272;
    padding-top: 20px;

}
.banner-image img{
    /* max-width: 1440px;
    max-height: 700px; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px; */
    width: 100%;
    height: auto;
    
}

.button-1{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* responsive media query */

@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    
}